.header{
    background: #0095e2;
    height: 70px;
    width: 100%;
}
.logo {
    float: left;
    width: 100px;
    height: 50px;
    margin: 10px 0 0 25px;
    background: yellow;
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
}
.chearfix:after{
    content: '';
    clear: both;
    visibility: hidden;
    height: 0;
    display: block;
    overflow: hidden;
}
.nav{
    float: left;
    margin-left: 30px;
}
.header_nav li{
    float: left;
    width: 92px;
    text-align: center;
}
.header_nav li>a{
    color: white;
    height: 60px;
    margin-top: 5px;
    line-height: 60px;
    font-size:15px;
    display: block;
}
.header_nav li a:hover{
    background: white;
    color: #0095e2;
}
.login{
    float: right;
    margin-right: 50px;
    line-height: 70px;
}
.login>a{
    color: white;
}